<h1> Edit the text </h1>

<form action="/edit" method='post'>
   <br>
  <input type='text' name='text'>
   <br>
   <input type='submit' value='Submit'>
   <br>
   <input type="hidden" name="id" value="<%= @id %>">
</form>
