<!-- <h1> <%= @message %> <h1>
<form action="/board" method='post'>
    <label for='message'>
      <input type='text' name='message'>
      <input type='submit' value='Submit'>
    </label>
  </form>

  <form action="/choice" method = "post">

  <input type='submit' value='scissors' name="choice">


 <div> <%= p @history.show_log %> </div>
 -->

 <form action="/editor" method = "post">

 <input type='submit' value='scissors' name="choice">

 </form>
